<!-- <div class="col-12" style="padding:0px;" >
  <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">UPDATE</button>
  <div class="side-panel" style="padding-top:10px">
    <p>Morning:{{ patient.medications.morning }}</p>
  </div>

  <div class="side-panel" style="">
    <p>Afternoon:{{ patient.medications.afternoon }}</p>
  </div>

  <div class="side-panel" style="">
    <p>evening:{{ patient.medications.evening }}</p>
  </div>

  <div class="side-panel" style="">
    <p>night:{{ patient.medications.night }}</p>
  </div>
</div> -->

<div>
  <div align="center">
    <button class="button buttonH" (click)="openModal()">Add Medications</button>
  </div>
    
    <div  >
      <table id="customers" style="width: 100%" >
        <tr style="padding: 2rem;">
            <th>Brand </th>
            <th>Medication</th>
            <th>Prescription By</th>
            <th>Timings</th>
            <th>Delete</th>
        </tr>
        <ng-container *ngFor="let i of objectKeys(medsList)" >

            <tr style="padding: 2rem;" >
                <td><p>{{ medsList[i].brandName }} </p></td>
                <td><p>{{ medsList[i].name}}</p></td>
                <td><p>{{ medsList[i].prescriptionBy }}</p></td>
                <td>
                    <ng-container *ngFor="let time of medsList[i].consumptionTimings ">
                        {{ time }}<br>
            
                      </ng-container>
                </td>
                <td><p style="font-size:1.5rem; text-align: center; cursor: pointer;" (click)="onSelect(i);">&#10006;</p></td>
            </tr>


         </ng-container>
      </table>
      

     </div>



</div>



<!-- The Modal -->
<div id="myModal" class="modal" [ngStyle]="{'display':display}">

  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close" (click)="closeModal()"  >&times;</span><span style="color:black; font-size: 3vh;"> Add Medicines</span><br>

    <form>
      <div class="form-row">
          <div class=" form-group col-3">
              <input type="text" class="form-control" [(ngModel)]="brandName" name="brandName1" value="" id="brandName" placeholder="Brand Name">
          </div>
          <div class=" form-group col-4">
            <input type="text" class="form-control" [(ngModel)]="name" name="medName" value="" id="brandName" placeholder="Medecine Name">
        </div>
          <div class="col-1">
            <label style="text-align:right;font-size: 1.5rem;" >Start Date</label>
          </div>
          
          <div class=" form-group col-4">
              <input type="text" class="form-control" [(ngModel)]="dateTime" name="dateTime1" value="" id="startDate" placeholder="Start Date"> 
             </div>
             
          <div class="col-1">
            <label style="text-align:right;font-size: 1.5rem;" >END Date</label>
          </div>
          
          <div class=" form-group col-4">
              <input type="text" class="form-control" [(ngModel)]="dateTime2" name="dateTime2" value="" id="EndDate" placeholder="End Date"> 
              </div>
      </div>
      <div col-12>
          <label >Enter Medicine Time In 12 Hour Format</label>
      </div>
      <div class="form-row">


          <div class=" form-group col-3">
              <input id="date" type="text" class="form-control" value="" [(ngModel)]="meds[0]" name="meds1" id="MedicineTime1" placeholder="Time1 am/pm">
          </div>
          <div class=" form-group col-3">
              <input type="text" class="form-control" value="" [(ngModel)]="meds[1]" name="meds2" id="MedicineTime2" placeholder="Time2 AM/PM">
          </div>
          <div class=" form-group col-3">
              <input type="text"ext class="form-control" value="" [(ngModel)]="meds[2]"  name="meds3"id="MedicineTime3" placeholder="Time3 AM/PM">
          </div>
          <div class=" form-group col-3">
              <input type="text" class="form-control" value="" [(ngModel)]="meds[3]" name="meds4" id="Medicine4" placeholder="Time4 AM/PM">
          </div>
      </div>
      <button type="submit" (click)=submitMedsForm() class="btn btn-primary">Submit</button>
    </form>
    
    
  </div>

</div><!-- /.modal !-->
