<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isActive = !isActive">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{show : isActive}">
    <ul class="navbar-nav mr-auto">
        <input class="form-control mr-sm-2" [(ngModel)]="filtername" placeholder="Search"  name="filtername" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <!-- <li>{{ filtername }}</li> -->

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0" type="submit">LogOut</button>
    </form>
  </div>
</nav>


<div class="" >
  <div class="row">
    <div class="box col-lg-3 sidebar col-3">
      <ul style="overflow-x: hidden; overflow-y:scroll">
          <ng-container *ngFor="let manager of displayPatientData"  >
            <li   (click)="onSelect(manager);" >
              <p>{{ manager.name }}</p>
          </li>
             <!-- <div *ngFor="let key of objectKeys(manager)">
               
              
               <div *ngIf=filter(manager[key])>
                  <li   (click)="onSelect( manager[key]);" >
                      <p>              {{ manager[key].name}}</p>
                  </li>
               </div>          


             </div> -->
              <!-- <ng-container *ngFor="let patient of manager" >

              </ng-container> -->

          </ng-container>
      </ul>
    </div>
    <div class="box col-lg-9 mainpage col-9 " style="padding:0px;">
      <app-doctor-patientview  [patient]="selectedPatient" ></app-doctor-patientview>

      <!--  -->
    </div>
  </div>
</div>

